
   body{
      
     background-color: tan;
      color: red;
      font-family:'chalkduster', sans-serif;
      background-image:url(http://i.imgur.com/bubt8WJ.jpg);
      background-size: cover;
    }
    h1 {
      color: #f00;
    font-family: 'Sigmar One', cursive;
    }
