
   body{
      text-align: center;
      
     background-color: tan;
      color: white;
      font-family:'chalkduster', sans-serif;
      background-image:url(http://i.imgur.com/bubt8WJ.jpg);
      background-size: cover;
    }
    h1 {
      color: #f00;
    font-family: 'Sigmar One', cursive;
    font-size: 72px ;
    }
    nav a{
       color: #FFF;
       text-decoration: none;
       background-color: rgba(255, 0, 0, 0.64);
       border-radius: 3px;
       padding: 5px;
    }
       nav a:visited{
          color: #FFF;
       }
       section {
  background-color: red;
  height: 500px;
  width: 100%;
}



